
body {
  font-famly: Georgia, serif;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 40px;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(25, 25, 25);
}

h3 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}

h4 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(0, 75, 60);
}

h5 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}

.center_text {
  text-align: center;
}

li {
  font-family: Georgia, serif;
  font-size: 14px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}
