
body {
  font-famly: Georgia, serif;
  height: 100%;
  margin: 0;
  width: 80%;
}

h3 {
  font-size: 16px;
}

h4 {
  color: DarkSlateGray;
  font-size: 14px;  
}

h5 {
  font-size: 12px;
}

.contact_info {
  text-align: center;
  line-height: 5px;
}
